# Variables

A variable is the name given to a memory location in a program.

Variables are containers for storing data values.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

# Get the type

In [2]:
a=5
b="Soumya"
c=5.5
d=5>4
e=2+4j

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

# Type Casting

If you want to specify the data type of a variable, this can be done with casting.

In [2]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [3]:
print(x)
print(y)
print(z)

3
3
3.0

In [5]:
type(x)
type(y)
type(z)

float

# Single Or Double Quote

In [6]:
x="soumya"
#Is the same as
x='soumya'

# Case Sensitive

In [8]:
#This will create two variables

A=10
a="Soumya"
#"A" will not overwrite "a"

In [9]:
print(A)
print(a)

10
Soumya

# Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

*A variable name must start with a letter or the underscore character.

*A variable name cannot start with a number.

*A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

*Variable names are case-sensitive (age, Age and AGE are three different variables).

In [11]:
#Legal variable names:

myvar = "Soumya"
my_var = "Soumya"
_my_var = "Soumya"
myVar = "Soumya"
MYVAR = "Soumya"
myvar2 = "Soumya"

# Multi Word Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable.

1.camelCase (Each word, except the first, starts with a capital letter)

In [13]:
myVariableName = "Soumya"

2.PascalCase (Each word starts with a capital letter)

In [14]:
MyVariableName = "Soumya"

3.snake_case (Each word is separated by an underscore character)

In [15]:
my_variable_name  = "Soumya"

# Many Values To Many Variables

Python allows you to assign values to multiple variables in one line.

Make sure the number of variables matches the number of values, or else you will get an error.

In [1]:
x, y, z = "Soumya", "Satish", "Satyajeet"
print(x)
print(y)
print(z)

Soumya
Satish
Satyajeet

# One Value To Multiple Variables

In [2]:
x = y = z = "DataGyan"
print(x)
print(y)
print(z)

DataGyan
DataGyan
DataGyan

# Unpack A Collection

If you have a collection of values in a list, tuple etc.
Python allows you extract the values into variables.
This is called unpacking.

In [3]:
#Unpack a list:

Employees = ["Soumya", "Satish", "Satyajeet"]
x, y, z = Employees
print(x)
print(y)
print(z)

Soumya
Satish
Satyajeet

# Output Variables

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character.

In [4]:
x = "virus."
print("COVID-19 is a " + x)

COVID-19 is a virus.

You can also use the + character to add a variable to another variable :

In [5]:
x = "COVID-19 is a "
y = "virus."
z =  x + y
print(z)

COVID-19 is a virus.

For numbers, the + character works as a mathematical operator :

In [6]:
x = 5
y = 10
print(x + y)

15

# Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories

Text Type:-------------str

Numeric Types:------int, float, complex

Sequence Types:----list, tuple, range

Mapping Type:-------dict

Set Types:-------------set, frozenset

Boolean Type:--------bool

Binary Types:----------bytes, bytearray, memoryview

# Gatting The Datatype

You can get the data type of any object by using the type() function.

In [7]:
#Print the data type of the variable x:

x=5
print(type(x))

<class 'int'>

# Setting The Datatype

In Python, the data type is set when you assign a value to a variable.

In [8]:
a = "Hello World"
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]
f = ("apple", "banana", "cherry")
g = range(6)
h = {"name" : "John", "age" : 36}
i = {"apple", "banana", "cherry"}
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"
m = bytearray(5)
n = memoryview(bytes(5))

In [9]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

# Setting The Specific Datatype

If you want to specify the data type, you can use the following constructor functions.

In [10]:
a = str("Hello World")
b = int(20)
c = float(20.5)
d = complex(1j)
e = list(("apple", "banana", "cherry"))
f = tuple(("apple", "banana", "cherry"))
g = range(6)
h = dict(name="John", age=36)
i = set(("apple", "banana", "cherry"))
j = frozenset(("apple", "banana", "cherry"))
k = bool(5)
l = bytes(5)
m = bytearray(5)
n = memoryview(bytes(5))

In [11]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

# Numbers

There are three numeric types in Python:

int, float, complex

Variables of numeric types are created when you assign a value to them

In [12]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

To verify the type of any object in Python, use the type() function.

In [13]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [14]:
#Integers:

x = 1
y = 150101120034
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [15]:
#Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [16]:
#Floats:

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

Complex numbers are written with a "j" as the imaginary part.

In [7]:
#Complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods.

In [18]:
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

NOTE: You cannot convert complex numbers into another number type.

# Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [14]:
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

115

# Casting

Specify a variable type:

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [6]:
#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [16]:
#Floats:

a = float(1)     # x will be 1.0
b = float(2.8)   # y will be 2.8
c = float("3")   # z will be 3.0
d = float("4.2") # w will be 4.2

print(a)
print(b)
print(c)
print(d)

1.0
2.8
3.0
4.2

In [18]:
#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# Practice Set

1. Write a python program to add two numbers.

In [20]:
a = 24
b = 11

print("Sum of a and b is",a+b)

Sum of a and b is 35

2. Write a python program to find reminder when a number is divided by 2.

In [6]:
a = 456
b = 15

print("The reminder when a is divided by b is",a%b)

The reminder when a is divided by b is 6

3. Check the type of the variable assigned using input().

In [ ]:
#While we use input function in a program it store the input value as a string.

a = input("Enter a number:")
type(a)

4. Use a comparision operator to find out whether a given variable 'a' is greater then 'b' or not.

In [10]:
a = 6
b = 8
print(a>b)

False

5. Write a python program to find average of two numbers entered by the user.

In [ ]:
a = input("Enter 1st number:")
b = input("Enter 2nd number:")

a = int(a)
b = int(b)
avg = a+b/2

print("The average of 1st and 2nd number is:",avg)

6. Write a python program to calculate square of a number entered by the user.

In [14]:
a = input("Enter a number:")
a = int(a)
sq = a*a

print("Squre of 'a' is:",sq)

Enter a number:5
Squre of 'a' is: 25