# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'Soumya' is the same as "Soumya".

You can display a string literal with the print() function:

In [1]:
print("Soumya")
print('Soumya')

Soumya
Soumya

# Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string.

In [2]:
a = "Soumya"
print(a)

Soumya

# Multiline Strings

You can assign a multiline string to a variable by using three quotes.

In [3]:
#You can use three double quotes:

a="""Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are"""

print(a)

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are

In [1]:
print("""Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are""")

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are

In [4]:
#Or three single quotes:

a='''Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are'''

print(a)

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are

Note: in the result, the line breaks are inserted at the same position as in the code.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [4]:
#Get the character at position 1 (remember that the first character has the position 0):

n = "DataGyan"
print(n[1])

a

# Looping Through a String

In [7]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

# String Length

To get the length of a string, use the len() function.

In [6]:
#The len() function returns the length of a string:

a = "DataGyan"
print(len(a))

8

# Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [9]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [10]:
#Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [11]:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:

In [12]:
#print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Strings Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [13]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

Note: The first character has index 0.

# Slice From the Start

By leaving out the start index, the range will start at the first character:

In [14]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

# Slice To the End

By leaving out the end index, the range will go to the end:

In [15]:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [21]:
#Get the characters:From: "o" in "World!" (position -5) To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

Python has a set of built-in methods that you can use on strings.

# Upper Case

In [22]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# Lower Case

In [23]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [24]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Replace String

In [25]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

# Split String

The split() method returns a list where the text between the specified separator becomes the list items.

In [26]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [27]:
#Merge variable a with variable b into variable c:

a = "Soumya"
b = "Mishra"
c = a + b
print(c)

SoumyaMishra

In [28]:
#To add a space between them, add a " ":

a = "Soumya"
b = "Mishra"
c = a + " " + b
print(c)

Soumya Mishra

# String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [29]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [31]:
#Use the format() method to insert numbers into strings:

age = 24
txt = "My name is Soumya, and I am {}."
print(txt.format(age))

My name is Soumya, and I am 24.

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [35]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [36]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-36-ac723aec0ca6>, line 3)

To fix this problem, use the escape character \":

In [37]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

Other escape characters used in Python:

\' ----- Single Quote	
\\ ----- Backslash	
\n ----- New Line	
\r ----- Carriage Return	
\t ----- Tab	
\b ----- Backspace	
\f ----- Form Feed	
\ooo --- Octal value	
\xhh --- Hex value

# Practice Set

1. Write a python program to display a user entered name followed by "Good afternoon" by using input(.)

In [2]:
name = input("Enter your name:\n")

print("Good afternoon,",name)

Enter your name:
Soumya
Good afternoon, Soumya

Write a pytho program to fill in a letter template given below with name and date.

letter = "Dear <|Name|>,
               
         You are selected!
               
                 <|Date|>"