# Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [81]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.

# Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [30]:
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# List Length

To determine how many items a list has, use the len() function:

In [31]:
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# List Items - Data Types

List items can be of any data type:

In [1]:
#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [2]:
list1 = ["abc", 34, True, 40, "male"]

# Type()

From Python's perspective, lists are defined as objects with the data type 'list':

In [34]:
#What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

# The list() Constructor

It is also possible to use the list() constructor when creating a new list.

In [3]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered* and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# Access List Items

List items are indexed and you can access them by referring to the index number:

In [36]:
#Print the second item of the list:
#Note: The first item has index 0.

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [37]:
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [38]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [39]:
#This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [40]:
#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [41]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [42]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Change Item Value

To change the value of a specific item, refer to the index number:

In [43]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [44]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [45]:
#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [46]:
#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [47]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Note: As a result of the example above, the list will now contain 4 items.

# Append Items

To add an item to the end of the list, use the append() method:

In [4]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [49]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Note: As a result of the examples above, the lists will now contain 4 items.

# Extend List

To append elements from another list to the current list, use the extend() method.

In [50]:
#Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The elements will be added to the end of the list.

# Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [51]:
#Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item

The remove() method removes the specified item.

In [52]:
#Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# Remove Specified Index

The pop() method removes the specified index.

In [53]:
#Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [54]:
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [55]:
#Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [7]:
#Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

# Clear the List

The clear() method empties the list. The list still remains, but it has no content.

In [57]:
#Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [83]:
#Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [84]:
#Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

# Sort Descending

In [10]:
#Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [88]:
#Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

# Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [89]:
#Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list. So if you want a case-insensitive sort function, use str.lower as a key function:

In [90]:
#Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

# Reverse Order

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [91]:
#Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [92]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

In [96]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [95]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [97]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# List Methods

Python has a set of built-in methods that you can use on lists.

1. append()-----Adds an element at the end of the list
2. clear()------Removes all the elements from the list
3. copy()-------Returns a copy of the list
4. count()------Returns the number of elements with the specified value
5. extend()-----Add the elements of a list (or any iterable), to the end of the current list
6. index()------Returns the index of the first element with the specified value
7. insert()-----Adds an element at the specified position
8. pop()--------Removes the element at the specified position
9. remove()-----Removes the item with the specified value
10. reverse()----Reverses the order of the list
11. sort()-------Sorts the list

# Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [98]:
#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [99]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length

To determine how many items a tuple has, use the len() function:

In [100]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [101]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Tuple Items - Data Types

Tuple items can be of any data type:

In [102]:
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain different data types:

In [103]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

# type()

From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

In [105]:
#What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [106]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [107]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Note: The first item has index 0.

# Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [108]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [109]:
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Note: The search will start at index 2 (included) and end at index 5 (not included). Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [110]:
#This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the list:

In [111]:
#This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

# Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple:

In [112]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [113]:
#Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created. But there are some workarounds.

# Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [1]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list:

Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [2]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. Add tuple to a tuple:

You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [3]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

# Remove Items

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [6]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(tuple(y))

('banana', 'cherry')

Or you can delete the tuple completely:

In [7]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [8]:
#Packing a tuple:

fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [9]:
#Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

# Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [10]:
#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [11]:
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Join Two Tuples

To join two or more tuples you can use the + operator:

In [12]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [13]:
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Tuple Methods

Python has two built-in methods that you can use on tuples.

# 1. count():

Returns the number of times a specified value occurs in a tuple.

In [15]:
fruits = ("apple", "mango", "papaya", "pineapple", "apple", "cherry")
fruits.count("apple")

2

# 2. index():

Searches the tuple for a specified value and returns the position of where it was found.

In [16]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
fruits.index("mango")

1